@model UrlDto

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="row">
    <div class="input-group">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-check">
                <label asp-for="UrlLong" />
                <div>
                    <span asp-validation-for="UrlLong" class="text-black">Default url</span>
                </div>
                <input required ="required" type="url" asp-for="UrlLong" class="form-check" />
            </div>
            <div class="form-check">
                <label asp-for="UrlShort" />
                <div>
                    <span asp-validation-for="UrlShort" class="text-black">Short url</span>
                </div>
                <input required="required" type="text" asp-for="UrlShort" class="form-check" />
            </div>
            <div class="form-check">
                <label asp-for="Counter" />
                <div>
                    <span asp-validation-for="Counter" class="text-black">Counter</span>
                </div>
                <input required="required" type="number" asp-for="Counter" class="form-check" />
            </div>
            <br />
            <div class="text-center">
                <button class="btn btn-primary" type="submit" asp-route-Id="@Model.Id">Save</button>
                <a asp-action="GetUrls" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}